%Flex-Row-Centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

%Flex-Column-Centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

